@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">First App</h1>
    <p>Başvuru linki için <a class="btn btn-primary" asp-controller="Course" asp-action="Apply">tıklayın</a></p>
</div>
