@model Candidate
<div class="display-6">Apply</div>

<form method="post" asp-action="Apply">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div form-group my-2>
        <label>Email</label>
        <input name="Email" class="form-control ">
    </div>
    <div form-group my-2>
        <label>Name</label>
        <input name="FirstName" class="form-control">
    </div>
    <div form-group my-2>
        <label>Last Name </label>
        <input name="LastName" class="form-control">
    </div>

    <div form-group my-2>
        <label>Age </label>
        <select class="form-control" name="Age">
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
        </select>
    </div>

    <div class="mt-3">
        <h5>Select one course</h5>
        <p><input type="radio" id="mvc" name="SelectedCourse" value="ASP .NET course MVC">
            <label>ASP .NET course MVC</label>
        </p>
        <p><input type="radio" id="mvc" name="SelectedCourse" value="ASP .NET course API">
            <label>ASP .NET course API</label>
        </p>
        <p><input type="radio" id="mvc" name="SelectedCourse" value="BLAZOR">
            <label>BLAZOR</label>
        </p>
    </div>
    <div class="my-3">
        <button class="btn btn-primary" type="submit">Apply</button>
        <button class="btn btn-success" asp-controller="Home" asp-action="Index">Home</button>
    </div>
</form>