@model Candidate
<div>
    <h3 class="display-4">Congratulations @Model.FullName</h3>
    <p class="lead"> Your application has been accepted</p>
    <hr>
    <blockquote class="blockquote">You have enrolled to @Model.SelectedCourse course</blockquote>
    <p class="text-muted">Your application was accepted on @Model.ApplyAt</p>
    <p class="text-muted">Your email: @Model.Email</p>

    <div class="my-3">
        <a class="btn btn-outline-success" asp-action="Index">Applications</a>
    </div>
    <div class="my-3">
        <a class="btn btn-success" asp-controller="Home" asp-action="Index">Home</a>
    </div>
</div>